<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
    </staticContent>
    <httpErrors errorMode="Detailed" />
    <httpHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
    </httpHeaders>
  </system.webServer>
</configuration>
